* {
  box-sizing: border-box;
}

.navigation {
  display: flex;
}
.navigation__container {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.products {
  display: flex;
}
.product {
  margin-right: 25px;
}